@model StudyConnect.ViewModels.StudyGroups.UpsertViewModel
@{
    ViewBag.Title = "Upsert - Study Groups";
    Layout = "Dashboard/_Layout";
}

@section Styles
{
    <link rel="stylesheet" href="~/modules/study_groups/upsert.css" asp-append-version="true" />
}

<div class="body-wrapper">
    <div class="container-fluid">
        <div class="card bg-info-subtle shadow-none position-relative overflow-hidden mb-4">
            <div class="card-body px-4 py-3">
                <div class="row align-items-center">
                    <div class="col-9">
                        <h4 class="fw-semibold mb-8">Study Groups</h4>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">
                                    <a class="text-muted text-decoration-none" href="#">Study Groups</a>
                                </li>
                                <li class="breadcrumb-item" aria-current="page">Upsert</li>
                            </ol>
                        </nav>
                    </div>
                    <div class="col-3">
                        <div class="text-center mb-n5">
                            <img src="~/templates/modernize/images/breadcrumb/ChatBc.png"
                                 alt=""
                                 class="img-fluid mb-n4" />
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="border-bottom title-part-padding">
                        <h4 class="card-title mb-0">Study Groups | @(Model?.Id == null ? "Add" : "Edit")</h4>
                    </div>
                    <div class="card-body">
                        <form id="form" role="form" method="POST">
                            @Html.AntiForgeryToken()
                            @Html.HiddenFor(m => m.Id, new { @readonly = true })

                            <!-- Hidden inputs for form submission -->
                            <input type="hidden" id="name-hidden" name="Name" value="@Model?.Name" />
                            <input type="hidden" id="description-hidden" name="Description" value="@Model?.Description" />
                            <input type="hidden" id="maximumnumbers-hidden" name="MaximumNumbers" value="@Model?.MaximumNumbers" />
                            <input type="hidden" id="privacy-hidden" name="Privacy" value="@Model?.Privacy" />
                            <input type="hidden" id="categoryid-hidden" name="CategoryId" value="@Model?.CategoryId" />

                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="mb-3">
                                        <label for="group_name" class="form-label">Group Name <code>*</code></label>
                                        <div id="group_name"></div>
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="mb-3">
                                        <label for="category" class="form-label">Category <code>*</code></label>
                                        <div id="category"></div>
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="mb-3">
                                        <label for="privacy" class="form-label">Privacy <code>*</code></label>
                                        <div id="privacy"></div>
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="mb-3">
                                        <label for="maximum_members" class="form-label">Maximum Members</label>
                                        <div id="maximum_members"></div>
                                    </div>
                                </div>

                                <div class="col-sm-12">
                                    <div class="mb-3">
                                        <label for="description" class="form-label">Description</label>
                                        <div id="description"></div>
                                    </div>
                                </div>
                            </div>

                            <div class="row text-center">
                                <div class="col-sm-12">
                                    <div id="btn-save" class="d-inline-block me-2"></div>
                                    @if (User.IsInRole("Admin"))
                                    {
                                        <a asp-controller="StudyGroups" asp-action="Index"
                                           class="btn btn-danger rounded-pill px-4 text-white">Cancel</a>
                                    }
                                    else if (User.IsInRole("Student"))
                                    {
                                        <a asp-controller="StudyGroups" asp-action="MyStudyGroups"
                                           class="btn btn-danger rounded-pill px-4 text-white">Cancel</a>
                                    }

                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section FooterScripts {
    <script>
        var isEditMode = @Json.Serialize(Model?.Id != null);
        var studyGroupId = @Json.Serialize(Model?.Id);
    </script>
    <script src="~/modules/study_groups/footer_upsert.js" asp-append-version="true"></script>
}
